@using Fashion23.Models;
@model List<Product>
@{
    ViewBag.Title = "Fashion23";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-lg-9 order-2 order-lg-1">

                <div class="row mb-5">
                    <div class="products-wrap border-top-0">
                        <div class="container-fluid">
                            <div class="row no-gutters products">
                               @{ foreach (var item in Model)
                                   {
                                    <div class="col-6 col-md-6 col-lg-6 border-top">
                                        <a class="item">
                                            <img style="height:300px; width: 250px" src="@Url.Content("~/Img/"+item.Image)" alt="Image" class="img-fluid">
                                            <a href="@Url.Action("Index", "Cart")" class="btn btn-primary rounded-0">Add To Cart</a>
                                            <div class="item-info">
                                                <h3 style="color: black">@item.Ten_Sp</h3>
                                                <span class="collection d-block">@item.Soluong</span>
                                                <strong class="price">@item.DonGia VNĐ</strong>

                                            </div>
                                        </a>
                                    </div>
                                   }
                            }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="border p-4 mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                    <ul class="list-unstyled mb-0">
                        <li style="color:aqua; font-size:50px ">ADIDAS</li>

                        <li>@Html.ActionLink("JORDAN", "Index", "Jordan")</li>
                        <li>@Html.ActionLink("FILA", "Index", "Fila")</li>

                        <li>@Html.ActionLink("PUMA", "Index", "PUMA")</li>
                        <li>@Html.ActionLink("NIKE", "Index", "Nike")</li>
                    </ul>
                </div>


            </div>
        </div>

    </div>
</div>